<div class="container-fluid">
  <div class="row">
    <div id="main-display" class="col-xs-12 text-center">
      {{#if results}}
          <div class="col-md-3">
            <img class="main-image text-center" data-image-role="target" src="{{results.0.imageUrls.lg}}">
          </div>
          <div class="col-md-6 text-left">
            <h1 class="main-title" data-title-role="title">{{results.0.description}}</h1>
          <ul id="list" data-bullets-role="bullets">
            {{#each results.0.marketingBullets as |item|}}
              <li>
                {{item}}
              </li>
            {{/each}}
          </ul>
          </div>
          <div class="col-md-3">
            <h1 id="main-price" data-price-role="price">${{results.0.pricing.price.selling}}</h1>
            <button id="cart-btn">ADD TO CART</button>
          </div>
      {{/if}}
    </div><!-- End of main-item col -->
  </div><!-- End of main-item row -->
  <div class="row">
    <div id="item-display col-md-12">
      {{#each results}}
          <div class="sub-item col-md-3 text-center" data-image-role="trigger" data-title-role="{{this.description}}" data-image-url="{{this.imageUrls.lg}}" data-bullets-role="{{this.marketingBullets}}" data-price-role="${{this.pricing.price.selling}}">
            <div class="text-center">
              <img class="sub-image text-center" src="{{this.imageUrls.md}}">
            </div>
            <h1 class="sub-title text-left">{{this.description}}</h1>
            <h1 class="sub-price text-left">${{this.pricing.price.selling}}</h1>
            <button class="btn-more">VIEW MORE</button>
          </div>
      {{/each}}
    </div><!-- End of sub-item column -->
  </div><!-- End of sub-item row -->
</div><!-- End of container -->